@use 'components/infos_bar';
@use 'components/buttons';
@use 'hero';
@use 'event';
@use 'variables';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    color: variables.$textColor;
    list-style-type: none;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        display: block;

        &__infos {
            display: block;

            &__item {
                margin-bottom: 24px;
            }
        }
    }

    @media (max-width:1024px) {
        max-width: 90%;
    }
}